:root {
    --mobile-breakpoint: 575px;

    --header-height: 3rem;
    --sidebar-width: 25vw;

    --light-gray: #ebebec;
    --gray: #808080;
    --dark-gray: #393a3d;
    --black: #1b1e23;
    --white: #f7f7f7;
    --red: #B71C1C;
    --bs-input-outline: #8d959e;
    --border-color: var(--black);
    --background-color: var(--white);

    button {
        font-family: 'Ginto normal'
    }
}

/* woodwell font */
@font-face {
    font-family: 'Ginto normal';
    src: url('../fonts/ginto-normal-regular.ttf');
}

body { 
    min-height: 100vh;
    margin: 0; 
    padding: 0; 
    font-family: 'Ginto normal', monospace;
    background-color: var(--background-color);
}

#layout-container {
    /* display: grid;
    grid-template-rows: var(--header-height) auto;
    position: relative;
    width: 100vw;
    min-width: 250px;
    height: 100vh;
    max-height: 1200px;
    overflow: hidden; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    min-width: 250px;
    height: 100vh;
    max-height: 1200px;
    overflow: hidden;
}

/* 
 HEADER
*/
#header {
    display: grid;
    grid-template-columns: 12.5rem 1fr;
    height: var(--header-height);
    width: 100%;
    background-color: var(--background-color);
}

#logo-inner-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    padding-left: 5px;
}

#logo-image {
    width: 2.5rem;
    height: auto;
    padding-bottom: 5px;
}

#org-title-container {
    height: 100%;
    padding-left: 0.25rem;
    justify-content: center;
    text-align: center;
}

#org-title {
    font-size: 1.0rem;
}

#menu-container {
    display: flex;
    height: var(--header-height);
}

#menu-inner-container {
    display: flex;
    justify-content: flex-end;
    height: 80%;
    width: 100%;
    margin: auto 0;
}

#menu-icon-container {
    display: flex;
    height: 100%;
    margin: 0 1.0rem
}

#menu-icon {
    display: block;
    margin: auto;
}

/* 
 SIDEBAR AND MAIN CONTAINER
*/
#container {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - var(--header-height));
    border-top: 1px solid var(--border-color);
}

.box {
    height: 200px;
    width: auto;
    border: 1px solid black;
    margin: 20px auto;
    background-color: red;
}

#update-message-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}

#update-message {
    border: 1px solid var(--red);
    color: var(--red);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}

#sidebar-container {
    width: var(--sidebar-width);
    height: 100%;
    min-width: 250px;
    max-width: 350px;
    margin: 0;
    border-radius: 0px;
    padding: 0rem; /* this was 1rem before, could be useful for element inside boxes */
    background-color: var(--white);
    overflow-y: auto;
}

#sidebar-inner-container {
    height: 100%;
    max-width: 300px;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 0px 5px;
}

.select-label {
    margin-bottom: 0px;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: 0;
    box-shadow: none !important;
}

.dash-dropdown {
    margin-bottom: 20px;
    box-shadow: none !important;
    outline: 0;
}

.dash-dropdown .Select-menu-outer {
    max-height: 10rem;
    overflow-y: scroll
}

#country-filter {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 22.5px;
    width: 100%;
    max-width: 100%;
}
  
select option:active, select option:checked, select option:focus, select option:focus-visible {
    outline: none !important;    
    border: 0px !important;
    box-shadow: none !important;
}

#main-container {
    flex: 1;
    height: 100%;
    position: relative;
    background-color: var(--background-color);
    border-left: 1px solid black;
}

#main-container.overflow {
    overflow-y: scroll
}

#main-inner-container {
    width: 90%;
    height: 100%;
    margin: 20px auto 40px auto;
    padding-bottom: 10px;
    background-color: var(--background-color);
}

#main-container:has(#about-container:not([style*="display: none"]) ) #main {
    display: none;
}

#about-container {
    border: 1px solid var(--border-color);
    display: flex;
    position: absolute;
    background-color: var(--background-color);
    inset: 1rem;
    z-index: 10;
}

#about-inner-container {
    position: relative;
    width: 100%;
}

button {
    outline: 1px solid var(--black);
    border: 0;
    border-radius: 0.25rem;
    padding: 0rem 1rem;
    color: var(--black);
    background-color: var(--white);
}

button:hover, #about-button:hover, #process-data-button:hover {
    color: var(--white);
    background-color: var(--gray);
    outline-color: var(--gray)
}

button:active, #about-button:active, #process-data-button:active {
    color: var(--white);
    background-color: var(--black);
    outline-color: var(--black)
}

button:not(.hover), button:not(.active) {
    outline: 1px solid var(--black);
}

button[disabled=disabled], button:disabled {
    color: var(--white);
    background-color: var(--black);
}

#settings-button {
    margin: 0 5px;
}

#close-about-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    border: 0;
    border-radius: 0;
}

#process-data-button {
    outline: 1px solid var(--black);
    color: var(--black);
    background: var(--white);
    border-color: None;
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem 0rem;
    margin-bottom: 40px;
}

/* #process-data-button[case="ready"] {
    color: var(--black);
    background-color: var(--white);
    outline: 1px solid var(--black);
} */

#about-body {
    position: absolute;
    inset: 30px 10px 10px 10px;
    overflow-y: auto;
}

#about-body > h2 {
    font-size: 1.5rem;
}

#tabs-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; 
    border: 1px solid orange !important;
    width: max-content !important;
    outline-width: 0 !important;
    border-width: 0 !important;
    border-radius: 0;
    box-shadow: none !important;
    margin: 0 10px;
    height: 2.5rem;
}

.tab {
    flex: 0 0 auto !important;
    white-space: nowrap !important;
    box-sizing: border-box !important;
    display: inline-block; 
    margin-right: 10px;
    border: 0 !important;
    outline: 0 !important;
    padding: 0.5rem 1rem !important;
    background-color: var(--white) !important;
}

.tab--selected {
    box-sizing: border-box !important;
    border-bottom: 1px solid var(--black) !important;
    background-color: var(--white) !important;
}

.download-link {
    all: unset !important;
    margin: 0px 5px 5px 0px !important;
    color: var(--black);
    background-color: var(--white);
    text-decoration: underline !important;
}

#forecast-map-container {
    border: 1px solid var(--border-color);
    height: 450px;
    /* max-width: 900px; */
    margin: 30px 10px 5px 10px;
}

.js-plotly-plot .plotly .modebar-group {
    padding-left: 0px;
}

/* https://community.plotly.com/t/plotly-6-map-attribution-box-positioning/91228 */
/* The following styles ensure the attribution tag floats above the map and should be removed if the issue is fixed in a future plotly release. */
.maplibregl-ctrl-bottom-right {
    bottom: 10px;
    right: 10px;
}
  
.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right, .maplibregl-ctrl-top-left, .maplibregl-ctrl-top-right {
    pointer-events: none;
    position: absolute;
    z-index: 2;
}
  
.maplibregl-map {
    /* height: 360px; */
    font: 12px/20px 'Ginto normal';
    font-family: 'Ginto normal'
}
  
.maplibregl-ctrl-attrib {
    background-color: #d4dadc;
    border-radius: 10px;
    padding: 2px 5px;
}
  
/* this is necessary to remove spacing below the canvas */
.maplibregl-canvas {
    /* height: 360px; */
    display: block;
}
  
.maplibregl-ctrl-attrib-button {
    display: none;
}

#crop-map-container {
    border: 1px solid var(--border-color);
    height: 450px;
    margin: 30px 10px 10px 10px;
}

#crop-map {
    height: 100%;
}

#iframe-container {
    border: 1px solid var(--border-color);
    height: 550px;
    margin: 30px 10px 10px 10px;
}

iframe {
    border: none;
}

.download-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    height: 30px;
    margin: 5px 10px 0px 10px;
}

#download-csv-container {
    margin-top: 20px;
}

#timeseries-container {
    border: 1px solid var(--border-color);
    /* background-color: var(--background-color); */
    height: 330px;
    margin: 0px 10px 5px 10px;
}

#timeseries-toggle-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    height: 30px;
}

#timeseries-toggle-container > .shiny-input-container {
    width: 100px;
    margin-left: 0.75rem;
    margin-bottom: 0rem;
}

#timeseries {
    width: '100%';
    height: '100%',
}

#timeseries-toggle-container {
    height: 2rem !important;
}

#historical-checkbox, #forecast-checkbox {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    margin: auto 5px;
}

input[type='checkbox'] {
    accent-color: var(--black); 
    width: 1rem;
    height: 1rem;
    margin: 5px 5px 0px 5px;
}

input[type='checkbox'] > * {
    user-select: none;
}

#timeseries-inner-container {
    width: 100%;
    height: 295px;
}

.bounds-error-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bounds-error {
    border: 1px solid var(--red);
    color: var(--red);
    width: 70%;
    margin: 10px auto;
}

#time-slider-container {
    margin: 20px 10px 40px 10px !important;
}

#time-slider-container:disabled {
    pointer-events: none;
    background-color: var(--light-gray);
}

#time-slider-container > * {
    width: 100%;
}

#time-slider {
    width: 95%;
    padding: 0 !important;
    margin: 1rem auto !important;
}

#reset-skip-button, #skip-years-button, #skip-months-button {
    position: relative;
    float: right;
    width: auto;
    padding: 3px 6px;
    margin: 5px 0px 5px 5px;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1rem;
}

#reset-skip-button:hover, #skip-years-button:hover, #skip-months-button:hover {
    outline: 1px solid var(--gray);
    background-color: var(--background-color);
    color: var(--gray)
}

#reset-skip-button:active, #skip-years-button:active, #skip-months-button:active {
    outline: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}

#time-slider-labels-container {
    height: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-top: 0.75rem !important;
}

.time-slider-label {
    border-radius: 0.25rem;
    line-height: 1.3333;
    background-color: var(--light-gray);
    padding: 3px 6px;
}

#time-slider-output {
    padding: 3px 0px;
    line-height: 1.3333;
}

#timeseries-table-container {
    border: 1px solid var(--border-color);
    height: 400px;
    margin: 0px 10px 5px 10px;
    overflow-y: scroll;
}

.table {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

th.dash-header {
    border-top: 0px;
}

@media (max-width: 800px) {
    #tabs-container, .tab-container {
        flex-direction: row !important;
        width: max-content !important;
        max-width: 100% !important; 
    }

    .tab, .tab--selected {
        width: max-content !important;
    }
}

@media (max-width: 700px) {
    #main {
        width: 100%;
    }

    .select-label-container {
        width: 100%;
    }

    #timeseries-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    #timeseries-toggle-container {
        justify-content: flex-start;
    }

    #timeseries-inner-container {
        width: 150%;
    }
}

@media (max-width: 576px) {
    #container {
        flex-direction: column;
    }

    #menu-icon-container {
        display: none;
    }

    #about-container {
        inset: 0rem;
        border-top: 0rem;
    }

    #sidebar-container {
        display: none;
        width: 100%;
        max-width: 100%;
        height: 40%;
        border-right: 0px;
        border-bottom: 1px solid var(--black);
        overflow-y: auto;
    }

    #sidebar {
        padding-bottom: 20px;
    }

    #sidebar-inner-container {
        max-width: 500px;
    }

    #sidebar-inner-container > .shiny-input-container:last-of-type {
        padding-bottom: 10px;
    }

    #forecast-map-container {
        display: block;
        margin: 5px auto;
    }

    div#main {
        width: 100%;
    } 

    #forecast-map-container, #timeseries-container, #timeseries-table-container {
        display: block;
        width: 425px;
        margin: 10px auto;
    }

    .download-container {
        display: none;
    }

    #timeseries-container {
        margin-top: 30px;
        margin-bottom: 25px;
        overflow: hidden;
    }

    #timeseries-toggle-container {
        justify-content: flex-end;
    }

    #timeseries-inner-container {
        width: 100%;
    }

    #time-slider-container {
        margin-bottom: 25px;
    }

    #timeseries-table-container {
        margin-bottom: 100px;
    }
}